body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-shadow: none;
    background-color: rgba(0, 0, 0, 0.5);
    
    background-image: url('images/images.jpg');
    background-size: cover;
    background-attachment: fixed;

     }